@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/* #452433 cyan */
/* ##050506 black */
/* #FF861B orange*/
/* #2F11D9 blue */
/* #F31702 red */
/* #56F569 darkgreen */


/**
*! css reset
**/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style: none;
}
input,
textarea{
    outline: none;
}

/**
*!  Cities Section 
**/

.cities-section-wrapper{
    /* border: 2px solid green; */
    padding: 1.8em 0em;
    z-index: 100;
}
.cities-section-container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

}
.city-image-wrapper{
    /* border: 2px solid rgba(0, 0, 0, 0.446); */
    width: 200px;
    height: 280px;
    border-radius: 3px;
    overflow: hidden;
    /* margin-bottom: 1em; */
    position: relative;
}
.city-image-wrapper>  .city-image-overlay-container:after{
    position: absolute;
    content: "";
    /* border: 1px solid red; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.326);
    transition: 0.3s ease-in-out;
    opacity: 0;
    z-index: 0;
}
.city-image-wrapper:hover>.city-image-overlay-container:after{
    opacity: 100;
    z-index: 50;
}

.city-image-wrapper>.city-image-overlay-container>img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: inherit;
    transition: 0.2s ease-in;
}

.city-image-overlay-content-box{
    position: absolute;
    bottom: -50px;
    left: 0;
    /* border: 2px solid red; */
    padding: 0.5em 1em;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    transition: 0.3s ease-in-out;
    z-index: 50;
}
.city-image-wrapper:hover .city-image-overlay-content-box{
bottom: 10px;
z-index: 100;
}
.city-image-wrapper:hover a>img{
    transform: scale(1.05)
}
.city-image-overlay-content-box>h2{
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
}
.city-image-overlay-content-box> a>.city-explore-btn{
    font-size: 1.8rem;
    color: #fff;
}

