@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/* #452433 cyan */
/* ##050506 black */
/* #FF861B orange*/
/* #2F11D9 blue */
/* #F31702 red */
/* #56F569 darkgreen */




/**
*! css reset
**/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style: none;
}
input,
textarea{
    outline: none;
}


/**
*! Style for header
**/
.header{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 480px;
    background-image:linear-gradient(to top ,rgba(0, 0, 0, 0.788) ,rgba(0, 0, 0, 0.849)), url('/food-images/parralex.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-content{
    width: 100%;
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}



/* #452433 cyan */
/* ##050506 black */
/* #FF861B orange*/
/* #2F11D9 blue */
/* #F31702 red */
/* #56F569 darkgreen */
/**
*! navbar styling
**/
.nav{
    border-bottom:1px solid gray;
    background-color:#452433 ;
    padding: 2.4em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: transparent;
    position: relative;
}

.logo{
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-skip-ink:all;
    font-style: italic;

}

.logo-color{
    color:#FF861B;
    /* font-style: italic; */
}

.search-bar{
    width: 250px;
    padding: 0.2em;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
}
.search-bar> input{
    width: 90%;
    padding: 0.8em 1.8em;
    border: none;
    border-bottom: 1px solid rgb(59, 59, 59);
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}
.search-bar .bi-search{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.links{
    /* border: 1px solid green; */
}
.links>.nav-list{
    padding: 0em 1em ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    margin-top: 1em;
}
.nav-list>li{
    /* gap: 10px; */
    margin: 0em 0.8em;
}
.nav-list>li>a{
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav-list>li>a:hover{
    color:#a6ce39;
}

.btns{
    padding: 0em 3em;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
}
.btn-container{
    display: flex;
    padding: 0.1em 0em;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid blue; */
}

/**
*! style for search section 
**/

.search-container{
    padding: 2em 1em;
    background-color: #fff;
    /* border: 2px solid green; */
    position: relative;
}
.search-btns-container{
    /* border: 1px solid red; */
    display: inline-block;
    width: 290px;
    position: absolute;
    top: -38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.search-btns-container> .restourant , .recipes{
    font-size: 1.4rem;
    padding: 0.6em 1.8em;
    background-color: #fff;
    border-radius: 3px 3px 0px 0px;
    border: none;
    outline: none;
}

.search-field-section{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 3em 1em;
}
.search-field-section> .rest-field-container,.city-field-container,.city-restourant-search-btn{
    width: 250px;
    padding: 0.6em 0.3em;
    border-bottom: 1px solid #8080808e;
}
.city-field-container{
    display: flex;
}
.city-names{
    width: 20px;
    border: none;
    outline: none;
}
.city-names> .city-name{
    padding: 0.3em 10em;
    font-size: 1.5rem;
}
.restourant-field, .city-field{
    font-size: 2rem;
    border: none;
    outline: none;
}
option{
    width: 600px;
}


/**
*!  Publicity Section 
**/
.rest-recipe-event-publicity-section{
    /* border: 1px solid orange; */
    padding: 4em 0em;
    background: #f1f2f495;
    /* margin: 2em 0em; */
}


.rest-recipe-event-container{
    /* border: 1px solid green; */
    /* margin-top: 2em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.publicity-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.element-details{
    /* border: 2px solid red; */
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}
.img-overlay-container{
    /* border: 2px solid red; */
    position: relative;
    cursor: pointer;
}

.img-overlay-content-box{
    position: absolute;
    font-size: 2rem;
    padding: 0.3em 0.8em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.img-overlay-container:hover .img-overlay-content-box{
    opacity: 100;
    z-index: 10;
    border-radius: 4px;
}

.img-overlay-container::after{
    /* display: block; */
    content: "";
    /* border: 1px solid blue; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000093;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.img-overlay-container:hover::after{
    z-index: 5;
    opacity: 50;
}
.element-details>.img-overlay-container>a>img{
    width: 100%;
}








/* .element-details>a::after{
    display: block;
    content: ">";
    border-radius: 2px;
    border: 1px solid red;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    background-color: #452433;
} */