@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.common-btn{
    display: block;
    font-size: 1.3rem;
    padding: 0.5em 1.2em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
.common-btn:hover{
    opacity: 0.8;
}

.login-btn , 
.city-explore-btn{
    background-color:#a6ce39;
}

.register-btn{
    background-color: #3ece7e ;
}


.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.03em;
}

.banner-para-text{
    font-size: 1.9rem;
    color: #ffffffcb;

    /* font-weight: 500; */
}

.city-restourant-search-btn{
    background-color:#a6ce39;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* gap: 10px; */
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}
.city-restourant-search-btn:hover{
    opacity: 0.9;
}


/* Publicity section */

.publicity-main-heading{
    color:#452433 ;
    font-size: 3rem;
    letter-spacing: 0.02em;
    font-weight: 900;
}
.publicity-main-heading::selection{
    background-color: #452433;
    color: #fff;
}

.secondary-heading{
    font-size: 2.2rem;
    font-weight: 700;
    color: #452433;
    transition: all 0.2s ease-in-out;
}
.secondary-heading::selection{
    background-color: #452433;
    color: #fff;
}
.secondary-heading:hover{
    color:#a6ce39;
}
.secondary-para{
    letter-spacing: 0.03em;
    font-size: 1.2rem;
    font-weight: 500;
    color: #452433b5;
}
.secondary-para::selection{
    background-color: #452433;
    color: #fff;
}
.publicity-secondary-heading{
    font-size: 2rem;
    letter-spacing: 0.02em;
}
.publicity-secondary-heading::selection{
    background-color: #452433;
    color: #fff;
}


/* Cities Section */
.cities-main-heading{
    color: #050506b8;
    font-size: 15rem;
    font-weight: 900;
    opacity: 0.1;
    z-index: 50;
    font-family: 'Poppins';
}