@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* #452433 cyan */
/* ##050506 black */
/* #FF861B orange*/
/* #2F11D9 blue */
/* #F31702 red */
/* #56F569 darkgreen */




/**
*! css reset
**/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style: none;
}
input,
textarea{
    outline: none;
}


/**
*! Style for header
**/
.header{
    /* border: 2px solid yellow; */
    width: 100vw;
    height: 480px;
    background-image:linear-gradient(to top ,rgba(0, 0, 0, 0.788) ,rgba(0, 0, 0, 0.849)), url('/images/parralex.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-content{
    width: 100%;
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}



/* #452433 cyan */
/* ##050506 black */
/* #FF861B orange*/
/* #2F11D9 blue */
/* #F31702 red */
/* #56F569 darkgreen */
/**
*! navbar styling
**/
.nav{
    border-bottom:1px solid gray;
    background-color:#452433 ;
    padding: 2.4em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: transparent;
    position: relative;
}

.logo{
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-skip-ink:all;
    font-style: italic;

}

.logo-color{
    color:#FF861B;
    /* font-style: italic; */
}

.search-bar{
    width: 250px;
    padding: 0.2em;
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
}
.search-bar> input{
    width: 90%;
    padding: 0.8em 1.8em;
    border: none;
    border-bottom: 1px solid rgb(59, 59, 59);
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}
.search-bar .bi-search{
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.links{
    /* border: 1px solid green; */
}
.links>.nav-list{
    padding: 0em 1em ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    margin-top: 1em;
}
.nav-list>li{
    /* gap: 10px; */
    margin: 0em 0.8em;
}
.nav-list>li>a{
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.nav-list>li>a:hover{
    color:#a6ce39;
}

.btns{
    padding: 0em 3em;
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
}
.btn-container{
    display: flex;
    padding: 0.1em 0em;
    align-items: center;
    /* justify-content: space-between; */
    /* border: 1px solid blue; */
}

/**
*! style for search section 
**/

.search-container{
    padding: 2em 1em;
    background-color: #fff;
    /* border: 2px solid green; */
    position: relative;
}
.search-btns-container{
    /* border: 1px solid red; */
    display: inline-block;
    width: 290px;
    position: absolute;
    top: -43px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.search-btns-container> .restourant , .recipes{
    font-size: 1.4rem;
    padding: 0.8em 1.8em;
    background-color: #fff;
    border-radius: 3px 3px 0px 0px;
    border: none;
    outline: none;
}

.search-field-section{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1.5em 0em;
}
.search-field-section> .restourant-field,.city-field,.city-restourant-search-btn{
    width: 250px;
    padding: 0.6em 0.3em;
    font-size: 1.8rem;
    border: none;
    border-bottom: 1px solid #8080808e;
    outline: none;
}