.common-btn{
    display: block;
    font-size: 1.3rem;
    padding: 0.2em 1.2em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.login-btn{
    background-color:#a6ce39;
};

.register-btn{
    background-color: #3ece7e ;
}


.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.03em;
}
.banner-para-text{
    font-size: 1.9rem;
    color: #ffffffcb;

    /* font-weight: 500; */
}

.city-restourant-search-btn{
    background-color:#a6ce39;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* gap: 10px; */
    cursor: pointer;
    border: none;
}